{% extends 'news/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block news %}
    <div class="col-lg-8">
        <div class="section-title mb-4">
            <h4 class="m-0 text-uppercase font-weight-bold">Tizimga kirish</h4>
        </div>

        <div class="bg-white p-4 border">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}">
                <p>Parolni <a href="{% url 'password_reset' %}">ututdingizmi?</a></p>
                <button type="submit" class="btn btn-primary">Kirish</button>
            </form>
        </div>
    </div>
{% endblock news %}