{% extends 'news/base.html' %}
{% load static %}

{% block title %}Parol saqlandi{% endblock title %}

{% block news %}
    <div class="col-lg-8">
        <div class="section-title mb-4">
            <h4 class="m-0 text-uppercase font-weight-bold">Parol saqlandi</h4>
        </div>

        <div class="bg-white p-4 border">
            <p>Yangi parolingiz muvaffaqiyatli saqlandi. Endi tizimga kirishingiz mumkin.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Kirish</a>
        </div>
    </div>
{% endblock news %}
