{% extends 'news/base.html' %}
{% load static %}

{% block title %}Email yuborildi{% endblock title %}

{% block news %}
    <div class="col-lg-8">
        <div class="section-title mb-4">
            <h4 class="m-0 text-uppercase font-weight-bold">Email yuborildi</h4>
        </div>

        <div class="bg-white p-4 border">
            <p>Agar bunday email tizimda ro'yxatdan o'tgan bo'lsa, sizga parolni tiklash bo'yicha
               ko'rsatmalar yuborildi. Iltimos, pochta qutingizni tekshiring (shu jumladan spam papkasini).</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Kirish sahifasiga qaytish</a>
        </div>
    </div>
{% endblock news %}
