{% extends 'news/base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block news %}
    <div class="col-lg-8">
        <div class="section-title mb-4">
            <h4 class="m-0 text-uppercase font-weight-bold">Profil</h4>
        </div>

        <div class="bg-white p-4 border">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First name:</strong> {{ user.first_name }}</p>
            <p><strong>Last name:</strong> {{ user.last_name }}</p>
            <h5><a href="{% url 'password_change' %}">Parolni almashtirish</a></h5>
        </div>
    </div>
{% endblock news %}