{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} {{ news.title}} {% endblock title %}

{% block news %}
<div class="col-lg-8">
    <!-- News Detail Start -->
    <div class="position-relative mb-3">
        <img class="img-fluid w-100" src="{{ news.image.url }}" style="object-fit: cover;">
        <div class="bg-white border border-top-0 p-4">
            <div class="mb-3">
                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                    href="">{{ news.category }}</a>
                <a class="text-body" href="{{ news.get_absolute_url }}">{{ news.publish_time|date:"M d, Y" }}</a>
            </div>
            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ news.title }}</h1>
            <p>{{ news.body}}</p>
            {% if request.user.is_authenticated and request.user.is_superuser %}
                <a href="{% url 'news_update' news.slug %}" class="btn btn-sm btn-outline-primary">Tahrirlash</a>
                <a href="{% url 'news_delete' news.slug %}" class="btn btn-sm btn-outline-danger">O'chirish</a>
            {% endif %}
        </div>
        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
            {% if request.user.photo %}
                <div class="d-flex align-items-center">
                    <img class="rounded-circle mr-2" src="{{ request.user.profile.photo.url }}" width="25" height="25" alt="">
                    <span>{{ request.user.first_name }}</span>
                </div>
            {% else %}
                <div class="d-flex align-items-center">
                    <img class="rounded-circle mr-2" src="{% static 'images/user.jpg' %}" width="25" height="25" alt="">
                    <span>{{ request.user.first_name }}</span>
                </div>
            {% endif %}
            <div class="d-flex align-items-center">
                <span class="ml-3"><i class="far fa-eye mr-2"></i>{% get_hit_count for news %}</span>
                <span class="ml-3"><i class="far fa-comment mr-2"></i>123</span>
            </div>
        </div>
    </div>
    <!-- News Detail End -->

    <!-- Comment List Start -->
    <div class="mb-3">
        <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Comments</h4>
        </div>
        <div class="bg-white border border-top-0 p-4">
            {% for comment in comments %}
                <div class="media mb-4">
                    {% if comment.user.profile.photo %}
                        <img src="{{ comment.user.profile.photo.url }}" alt="Image" class="rounded-circle mr-2" width="25" height="25">
                    {% else %}
                        <img src="{% static 'images/user.jpg' %}" alt="Image" class="rounded-circle mr-2" width="25" height="25">
                    {% endif %}
                    <div class="media-body">
                        <h6><a class="text-secondary font-weight-bold" href="">{{ comment.user.get_full_name|default:comment.user.username }}</a>
                            <small><i>{{ comment.created_time|date:"d M Y" }}</i></small></h6>
                        <p>{{ comment.body|linebreaks }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Comment List End -->

    <!-- Comment Form Start -->
    <div class="mb-3">
        <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
        </div>
        <div class="bg-white border border-top-0 p-4">
            {% if request.user.is_authenticated %}
                <form method="post" action="{{ news.get_absolute_url }}#comment-form">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <div class="form-group mb-0">
                        <input type="submit" value="Leave a comment"
                            class="btn btn-primary font-weight-semi-bold py-2 px-3">
                    </div>
                </form>
            {% else %}
                <p>Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a> to leave a comment.</p>
            {% endif %}
        </div>
    </div>
    <!-- Comment Form End -->
</div>
{% endblock news %}